{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container p-5">
    <form method="POST" novalidate> <!-- Change action="POST" to method="POST" -->
        {% csrf_token %}
        {% for field in form.visible_fields %} <!-- Correct typo here -->
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %} <!-- Correct typo here -->
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Add
            </button>
            <a class="btn btn-default" href="{% url 'core:post' %}">Cancel</a> <!-- Make sure this URL name is correct -->
        </div>
    </form>
</div>
{% endblock %}
