{% extends 'core/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Post Administration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Post</a>
      </li>   
    </ul>
  </div>
</nav>

<div class="album py-5 bg-darkt">
    <div class="container">
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="" alt="images">
                    <div class="card-body">
                        <h4 class="">
                            <a href="{% url 'core:single' post.pk %}">{{post.title}}</a>
                        </h4>
                        <p class="card-text">Goes here</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <div class="btn-group">
                              <a href="{{post.get_absolute_url}}" class="btn btn-sm btn-primary" role="button" aria-presses="true">view</a>
                            </div>
                            <small class="text-muted">9 minutes</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}